[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "malaytextr"]
	path = malaytextr
	url = https://github.com/zahiernasrudin/malaytextr
